body {
  background: #fafafa;
  
padding:0px;
    margin-top:3.5em;
    width:100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.info{
  margin-bottom:1%;
}

   #stage {
    margin: 1em auto;
    width: 382px;
    height: 292px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    
    border: 1px solid #ccc;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

.row{
    flex-direction: row;
    
   
}
.left-box{
    flex-grow:1;
}

.main-box{
    flex-grow:1;
    
}

.background {
    position: relative;
    z-index: 1;
    width:100%;
    height:100vh;
    background-image: url(slideshow/image1.jpg);
    background-size:cover;
    background-position:center center;
    
    @include:dark-overlay; 
 
}

@mixin dark-overlay{
  &:after{
    content: "";
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: -1;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
}

.overlay{
     display: flex;
    flex-direction: row;
    padding:100px;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.6);
}

.background:after{
  background:rgba(0, 0, 0, 0.75);
}

.home_container{
   width:100%;

}


.btn{
    background-color:rgba(255, 255, 255, .85);
}

.mb-5{
    
    border-radius:3px;
    display:inline;
    width:40%;
    color:#ffffff;
 

}





.home-container border-bottom{

    
}

.filter{
    
}


.search-label{
    color:#ffffff;
}

.col-md-box{
   width:100%;
}