{%extends "layout.html"%}
    
{%block content%}
<div class="col-mid-8">
   <h1>About Page</h1>
   
   	 <p>
   	Cloud Fitness is application made by <a href="http://www.columbia.edu/~km3290" target="_blank">Kevin Mao</a>, Columbia 2021 
   	and <a href="https://www.linkedin.com/in/dray-c-f-555770125" target="_blank">Dray Farley</a>, Cornell 2021. We use advanced cloud technology to bring you free gym passes, so you can focus on working out. This is currently a work in progress.
   <p>
   </div>
  
{%endblock content%}
